# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Car speed/out/
/Problems/Car speed/out/production/classes/
/Problems/Currencies/out/
/Problems/Currencies/out/production/classes/
/Problems/Currency comparison/out/
/Problems/Currency comparison/out/production/classes/
/Problems/Deposit/out/
/Problems/Deposit/out/production/classes/
/Problems/Gratuity/out/
/Problems/Gratuity/out/production/classes/
/Problems/Rainbow colors/out/
/Problems/Rainbow colors/out/production/classes/